@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Dancing+Script&family=Dosis&family=Edu+VIC+WA+NT+Beginner:wght@600&family=Short+Stack&display=swap');

*{  margin: 8;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    }

body{
    background-color: rgb(255, 255, 255);
}

.header{

    background-image: radial-gradient(circle at 61.71% 51.02%, #ff8e60 0, #ff7e6b 10%, #ff6e73 20%, #ff5d78 30%, #ff4c7a 40%, #f23c78 50%, #d52e74 60%, #ba2471 70%, #a21d6e 80%, #8d1a6c 90%, #7a1a6b 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 5px 5%;
}

.navlist li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.navlist a{
    font-size: 25;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.header .logo img{
    height: 140px;
    width: auto;
}

.header .logo{
    cursor: pointer;
}


.btn button{
font-weight: 60;
color: rgb(7, 7, 7);
padding: 10px 35px;
background-color: rgb(221, 173, 173);
border-color: black; 
border-radius: 50px; 
cursor: pointer;
font-size: large;
}

.btn button:hover{
    transform: scale(1.1)
}